.text-brand{
    color: var(--color-brand);
}

.text-bold{
    font-weight: 700;
}

.title{
    font-family: 'Roboto';
    @include text(32px, 500, 37px);
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
        font-family: 'Play';
    @include text(64px, 700, 74px);
    margin-bottom: 48px;
     }
}