.button {
    @include text(16px, 600, 21px);
    @include size(219px, 53px);
    font-family: Roboto, sans-serif;
    border-radius: 32px 32px 32px 32px;
    border: 2px solid var(--color-brand);
    background-color: var(--color-brand);
    color: var(--color-primary-light);
    margin-bottom: 14px;
    transition: all 1s;

    &:hover {
        color: var(--color-primary-dark);
        background-color: transparent;
    }

    &-sumbit {
        width: 100%;
        max-width: 281px;
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;

        &:hover {
            color: var(--color-primary-light);
        }
    }

    &-close {
        position: absolute;
        top: 50px;
        right: 50px;
        background: none;
        border-style: none;
        
     
        &__img{
            @include size(16px, 16px); 
        }
    
        &__img:hover{
            transform: scale(1.3);
            transition: 0.2s;
        }
    }
}

