.main-btn {
    width: 219px;
    height: 53px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.09px;
    border-radius: 32px 32px 32px 32px;
    border: 2px solid var(--color-brand);
    background-color: var(--color-brand);
    color: var(--color-primary-light);
    margin-bottom: 14px;
    transition: all 1s;
}

.main-btn:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
}


.modal-btn-close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 16px;
    height: 16px;
}


.modal-btn-sumbit {
    width: 100%;
    max-width: 281px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

.modal-btn-sumbit:hover {
    color: var(--color-primary-light);
}
