.center-backgound {
    background-image: url(../images/star-bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @media  screen and (max-width:1200px) {
        background-position: right top;
    }
}