
.asset-section {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 96px;

    &__title {
        font-family: Play;
        @include text(64px, 700, 74.05px);
        text-align: center;
        margin-bottom: 48px;
    }

    &__block {
        @include center;
        flex-direction: row;
        gap: 56px;
    }


    &__items {
        width: 316px;
        height: 181px;
        border-radius: 32px 32px 32px 32px;
        background-color: var(--color-primary-light);
        text-align: center;
    }

    &__img {
        margin-top: 20px;
        margin-bottom: -10px;
    }

    &__text{
        @include text(18px, 400, 24px);
    }
}







