.footer {
    background-image: url(../images/footer.png);
    background-color: var(--color-brand-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 56px;
    padding-bottom: 56px;
    position: relative;
    
    &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 186px;
}

&__nav {
    display: flex;
    flex-direction: row;
    gap: 186px;
    margin: 0;

    &_link {
        color: var(--color-primary-light);
        @include text(16px, 400, 18.75px);
    }
    
}

&__logo {
    width: 83px;
    height: 42px;

}

&__text {
    margin-top: 0;
}

&__icons {
    display: flex;
    gap: 24px;
}

&__icon {
    fill: var(--color-primary-light);
}

&__icon:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

&__address {
    @include text(16px, 400, 18.75px);
    text-align: left;
    font-style: normal;
    color: var(--color-primary-light);
}

&__politecy {
    @include text(16px, 400, 18.75px);
    text-align: left;
    font-style: normal;
    color: var(--color-primary-light);
}

}

.footer::after {
    position: absolute;
    width: 246px;
    height: 146px;
    background-image: url(../images/footer-img.png);
    background-repeat: no-repeat;
    content: '';
    right: 0;
    bottom: 0;
}

.address-text {
    margin-top: 0;
}

.politecy-text {
    color: #747272;
}

.links-text{
    margin-top: 0;
}





