.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

&__input {
    padding: 18px 32px;
    width: 100%;
    max-width: 310px;
    border-radius: 32px 32px 32px 32px;
    border: 2px solid var(--color-modal);
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
}


&__input:focus {
    background-color: var(--color-modal);
    outline: none;
}

&__input::placeholder {
    color: var(--color-primary-light);
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
}

}

.contacts-form__text{
    margin: 0 auto;
    max-width: 220px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--color-modal);

&_link{
    color: var(--color-modal);
    text-decoration: underline;
}
}
