.form-field {
   @include center;
    margin-bottom: 24px;

&__input {
    padding: 18px 32px;
   width: 100%;
    max-width: 310px;
    border-radius: 32px 32px 32px 32px;
    border: 2px solid var(--color-modal);
    background-color: transparent;
    color: var(--color-primary-light);
    @include text(13px, 400, 15.23px);
}


&__input:focus {
    background-color: var(--color-modal);
    outline: none;
}

&__input::placeholder {
    color: var(--color-primary-light);
    @include text(13px, 400, 15px);
    text-align: left;
}

}


