.header {
    @include center;
    width: 100%;
    background-color: #FFFFFF40;
    position: absolute;
    top: 0;
    left: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 20px;
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 20px;
    }

    &__menu {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        gap: 56px;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__menu :hover {
        color: var(--color-brand);
    }

    &__logo {
        @include size(74px, 42px);
    }

    &__link {
        color: var(--color-brand-dark);
        @include text(18px, 400, 21.09px);
    }

    &__icons {
        display: flex;
        justify-content: flex-end;
        gap: 32px;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__svg {
        fill: var(--color-brand-dark);
    }

    &__svg:hover {
        transform: scale(1.2);
        transition: 0.2s;
    }

    &__burger {
        display: none;

        &-svg {
            fill: var(--color-primary-light);
        }

        &-svg:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }

        @media screen and (max-width: 1200px) {
            display: block;
            background: none;
            border-style: none;            
        }
    }
}