.header {
    @include center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (min-width: $bp-desktop) {
        background-color: #FFFFFF40;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
        gap: 20px;

        @media screen and (min-width: $bp-desktop) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 20px;
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            gap: 56px;
        }
    }

    &__menu :hover {
        color: var(--color-brand);
    }

    &__logo {
        @include size(74px, 42px);
    }

    &__link {
        color: var(--color-brand-dark);
        @include text(18px, 400, 21.09px);
    }

    &__icons {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            justify-content: flex-end;
            gap: 32px;
        }
    }

    &__svg {
        fill: var(--color-brand-dark);
    }

    &__svg:hover {
        transform: scale(1.2);
        transition: 0.2s;
    }

    &__burger {
            background: none;
        border-style: none;
        fill: var(--color-primary-light);
        
        &:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
}