.hero-section {
    @include center;
    background-image: url(../images/bg_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -320px bottom;
    padding-top: 71px;
    padding-bottom: 120px;

    @media screen and (min-width: $bp-tablet) {
        background-position: center bottom;
        padding-bottom: 40px;
    
}

    @media screen and (min-width: $bp-desktop) {
            background-position: center bottom;
            padding-top: 116px;
    }

    @media  screen and (min-width: $bp-desktop-L) {
        background-position: center bottom;
        padding-bottom: 380px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 56px;

        @media screen and (min-width: $bp-tablet) {
            width: 530px;
            margin-bottom: 126px;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-left: 80px;
        }

        &-button {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 8px;

            @media screen and (min-width: $bp-tablet) {
                margin: 0;
            }

        }
    }

    &__title {
        @include text(18px, 400, 21px);
        color: var(--color-brand-dark);
        text-align: center;
        margin-bottom: 0;

        @media screen and (min-width: $bp-tablet) {
            text-align: left;
            margin-bottom: 16px;
        }
    }

    &__logo {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            max-width: 529px;
            max-height: 228px;
            margin-bottom: 40px;
            margin-left: -46px;
        }

        &-text {
            display: inline;
            @include text(72px, 700, 64px);
            text-align: center;
            font-family: Play;
            color: var(--color-brand);
            margin-top: 0;
            margin-bottom: 32px;

            @media screen and (min-width: $bp-tablet) {
                display: none;
            }
        }
    }

    &__text {
        height: 36px;
        @include text(12px, 400, 18px);
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            text-align: left;
            margin-left: 10px;
        }
    }



}