.info-section {
    @include center;
    width: 100%;
    margin-bottom: 104px;
    

    @media screen and (min-width: $bp-desktop) {
        margin-bottom: 176px;
        
    }

    &__block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        @include text(32px, 500, 37.5px);
        text-align: left;
        color: var(--color-primary-dark);
        margin-bottom: 24px;

        @media screen and (min-width: $bp-tablet) {
            margin-top: 0;
            
        }

        @media screen and (min-width: $bp-tablet) {
            font-family: 'Play', sans-serif;
        @include text(64px, 700, 74.05px);
        margin-bottom: 40px;
            
        }
    }
    

    &__text {
        @include text(18px, 400, 21.09px);
        text-align: left;

        @media  screen and (min-width: $bp-tablet) {
            @include text(20px, 400, 38px);
        flex-grow: 1;
        width: 709px;
        }
    }

    &__image {
        display: none;

        @media  screen and (min-width: $bp-desktop) {
        @include size(100%, 100%);
        flex-grow: 1;
       width: 499px; 
       height: 695px;
        display: flex;
        align-items: flex-end;
        }
    }
}





