.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(93, 119, 156, 0.5);
    @include center;
    transition: opacity 0.3s, visibility 0.3s;

    &_is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        padding: 20px 0;
    }

}

.modal {
    position: relative;
    @include size(100%, 100%);
    max-width: 720px;
    max-height: 680px;
    padding: 42px 144px;
    background-color: var(--color-brand-dark);
    background-image: url(../images/modal-back.png);
    border-radius: 48px 48px 48px 48px;
    overflow-y: auto;

    &__title {
        font-family: 'Play';
        @include text(64px, 700, 74.05px);
        text-align: center;
        color: var(--color-primary-light);
        margin-bottom: 40px;
    }

    &__text {
        color: var(--color-primary-light);
        @include text(22px, 600, 25.78px);
        text-align: center;
        margin-top: 0;
        margin-bottom: 32px;
    
    }
}



