.service-section {
    @include center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;



    &__title {
        font-family: 'Play';
        @include text(64px, 700, 74.05px);
        margin-bottom: 48px;
        text-align: center;
    }

    &__block {
        @include center;
        gap: 16px;
        
    }

    &__list {
        flex-basis: calc((100% - 96px) / 3);
        max-height: 500px;
        @include center;
        flex-direction: row;
        gap: 16px;

    }

    &__item {
        position: relative;
        @include size(344px, 456px);
        border-radius: 120px 4px 120px 4px;
        display: flex;
        justify-content: center;
        align-items: end;
        transition: transform 0.3s;

        @media screen and (max-width: 1200px) {
           @include size(288px, 400px); 
        }

    }

    &__item:hover {
        transform: scale(1.04);
    }

    &__gradient {
        border-radius: 120px 4px 120px 4px;
        position: absolute;
        bottom: 0;
        @include size(100%, 100%);
        z-index: 2;
        background-image: linear-gradient(180.05deg,
                rgba(1, 28, 68, 0) 48.53%,
                rgba(1, 28, 68, 0.725825) 84.61%,
                #011C44 101.39%);
    }

    &__text {
        position: absolute;
        z-index: 99;
        bottom: 0;
        @include text(22px, 400, 26px);
        text-align: center;
        color: var(--color-primary-light);
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        @include size(100%, 100%);
        border-radius: 120px 4px 120px 4px;
    }

}